# Ignore all
**

# Exclude[FILES]
!Makefile
!manage.py
!requirements.txt
!docker/app

# Exclude[APPS]
!apps
!core
!contacts
!greetings
!session
!users_admin
!users_generator
!users
!middlewares

# Exclude[VISUAL]
!static
!templates