<header>
    <ul>
        <li>
            <h1><a href="{% url 'home_page:index' %}">Home</a></h1>
        </li>
        <li>
            <h1><a href="{% url 'greetings:index' %}">Greetings</a></h1>
        </li>
        <li>
            <h1><a href="{% url 'users_generator:index' %}">Users</a></h1>
        </li>
        <li>
            <h1><a href="{% url 'contacts:index' %}">Contacts</a></h1>
        </li>
        <li>
            <h1><a href="{% url 'session:session' %}">Session info</a></h1>
        </li>
    </ul>
</header>